@import '../../styles/variables.scss';


.reconciliation-barchart{
    margin-right: 40px;
}

.reconciliation-flex-container {
    width: 100%;
    height: auto;
    display: flex;
  margin-bottom: 30px;
    
    .reconciliation-flex-box {
      width: 120%;
      height: 300px;
      background: #2a3447;
      color: white;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
      border-radius: 10px;
      border: 1px solid $soft-bg;
    }}