.message-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

}
.message-box-container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.message-top{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        padding: 10px;
        margin: 3px;
        margin-bottom: 40px;
        // display: flex;

       
}

h1 {
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .meassage-data{
    margin-top:90px;
  }